
<div class="divGoBackButton">
  <button (click)="goBack()" class="btn btn-primary" type="button">Back</button>
</div>
<h1>CHARACTERS</h1>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Name</th>
    <th scope="col">Age</th>
    <th scope="col">Description</th>
    <th scope="col">Chapter List</th>
    <th scope="col">Plot List</th>
    <th scope="col">Death</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let character of characters" [class.selected]="character === selectedCharacter" (click)="onSelect(character)">
    <th scope="row">{{ character.id}}</th>
    <td>
      <!--      <div><a href="#" class="text-decoration-none" (click)= 'getDetail(character)'>{{character.firstName}} {{character.lastName}}</a></div>-->
      <div>{{character.firstName}} {{character.lastName}}</div>
    </td>
    <td>
      <!--      <div><a href="#" class="text-decoration-none" (click)= 'getDetail(character)'>{{character.age}}</a></div>-->
      <div>{{character.age}}</div>
    <td>
      <div>{{character.description}}</div>
    </td>
    <td>
      <a *ngFor="let chapter of character.chapterList" routerLink="/chapters/{{chapter.id}}" role="button" class="btn btn-block">
        <div>{{chapter.id}}</div>
      </a>
    </td>
    <td>
      <a *ngFor="let plot of character.plotList" routerLink="/plots/{{plot.id}}" role="button" class="btn btn-block">
        <div>{{plot.id}}</div>
      </a>
    </td>
    <td>
      <div>{{character.death}}</div>
    </td>
    <!--    <td>-->
    <!--      <div><a href="#" role="button" class="btn btn-primary shadow-none" (click)= 'getDetail(character)'>{{character.age}}</a></div>-->
    <!--    </td>-->
    <!--    <td><button (click)= 'getDetail(character)'>detail</button></td>-->
  </tr>
  </tbody>
</table>
<!--<app-character-detail [character]="selectedCharacter"></app-character-detail>-->

