<h1>DASHBOARD</h1>
<div>
  <a routerLink="./chapter-list">
    <button class="btn btn-block">Chapter list</button>
  </a>
</div>
<div>
  <a routerLink="./characters">
    <button class="btn btn-block">Character list</button>
  </a>
</div>
<div>
  <a routerLink="./plots">
    <button class="btn btn-block">Plot list</button>
  </a>
</div>
