<p>Character details</p>

<div>
  <h1>
    {{character.firstName}} {{character.lastName}}
  </h1>
  <div><span>character id: </span>{{character.id}}</div>
  <div>
    <a>age: {{character.age}}</a>
  </div>
  <div>
    <a>{{character.description}}</a>
  </div>
  <div>
    <a>Father: {{character.father.firstName}} {{character.father.lastName}}</a>
  </div>
  <div>
    <a>Mother: {{character.mother.firstName}} {{character.mother.lastName}}</a>
  </div>
  children here
  <div *ngFor="let character of character.children">
      <a>Children:{{getDetail(character)}}</a>
  </div>
  <div *ngFor="let plot of character.plotList">
    <!--    need to add services-->
    <a>{{plot.id}} {{plot.name}}</a>
  </div>
  <div *ngFor="let chapter of character.chapterList">
    <a>{{chapter.id}}</a>
    <a>{{chapter.name}}</a>
  </div>


</div>
<div class="divGoBackButton">
  <button (click)="goBack()" class="btn btn-primary" type="button">Back</button>
</div>
<!--  <div>-->
<!--    <label>name:-->
<!--      <input [(ngModel)]="character.firstName" placeholder="name"/>-->
<!--    </label>-->
<!--  </div>-->
